[submodule "deps/sentencepiece"]
	path = 3rd-party/sentencepiece
	url = https://github.com/browsermt/sentencepiece.git
[submodule "3rd-party/intgemm"]
	path = 3rd-party/intgemm
	url = https://github.com/kpu/intgemm
[submodule "3rd-party/ruy"]
	path = 3rd-party/ruy
	url = https://github.com/google/ruy
[submodule "3rd-party/ssplit-cpp"]
	path = 3rd-party/ssplit-cpp
	url = https://github.com/browsermt/ssplit-cpp
[submodule "3rd-party/gemmology"]
	path = 3rd-party/gemmology
	url = https://github.com/mozilla/gemmology.git
